<div class="row">
  <h1 class="text-center"><%= @team.team_name %></h1>
  <div class=" players-list col-md-8 col-md-offset-2 ">
    <p class="card-header text-center">所属選手</p>
      <div class="table-header">
        <span class="num-mgl">背番号</span>
        <span class="pst-mgl">ポジション</span>
        <span class="name-mgl">名前</span>
      </div>
    <% @players.each do |player| %>
      <%= link_to player do %>
        <table class="table table-hover table-condensed" style="table-layout:fixed">
          <tbody>
            <tr class="text-center active">
              <td class="col-xs-1"><%= player.number %></td>
              <td class="col-xs-1"><%= player.position %></td>
              <td class="col-xs-5"><%= player.name%></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-md-8 col-md-offset-2 ">
    <div class="text-center mgb-20">
      <% if team_signed_in? %>
        <%= link_to "選手登録", new_player_path, class: "btn btn-success" %>
        <%= link_to "戻る", team_path, class: "btn btn-default"%>
      <% else %>
        <%= link_to "戻る", team_path, class: "btn btn-default"%>
      <% end %>
    </div>
  </div>
</div>
