<div class="container ">
  <div class="row">
    <div class="team-info text-center">
      <h1><%= @team.team_name %></h1>
      <p style="font-size: 25px;">代表者：<%= @team.representative %></p>
      <% if team_signed_in? %>
        <%= link_to "編集", edit_team_registration_path, class: "btn btn-warning "%>
        <%= link_to "削除", team_registration_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
        <%= link_to "戻る", root_path, class: "btn btn-default"%>
      <% else %>
        <%= link_to "戻る", root_path, class: "btn btn-default"%>
      <% end %>
      </div>
      <div class="player-list"><%= link_to "選手一覧", root_path %></div>
      <div class="team-posts">＜結果一覧＞</div>
    <% @team.posts.each do |post| %>
      <%= link_to post do %>
        <div class="posts col-md-12">
          <p class="date"><%= post.created_at.strftime('%Y/%m/%d')%></p>
          <p class="opponent text-center"><%= post.team.team_name %>　vs　<%= post.opponent %></p>
          <div class="result text-right">
            <%= post.result %>
            <%= post.goal%> - <%= post.allow%>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate(@posts) %>
  </div>
</div>
