<div class="row">
  <div class="team-info text-center">
    <h1><%= @team.team_name %></h1>
    <p style="font-size: 25px;">代表者：<%= @team.representative %></p>
    <% if team_signed_in? && current_team.id == @team.id %>
      <%= link_to "チーム編集", edit_team_registration_path, class: "btn btn-warning "%>
      <%= link_to "チーム削除", team_registration_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
    <% end %>

    <div class="total-record">
      全<%= @total_game.length%><span class="mgr-40">戦</span>
      <%= @total_win.length %><span class="mgr-40">勝</span>
      <%= @total_lose.length %><span class="mgr-40">敗</span>
      <%= @total_drow.length %><span class="mgr-40">引分</span>
      <%= @total_goal %><span class="mgr-40">得点</span>
      <%= @total_allow %>失点<br>
    </div>

    <div class="category-record">
      リーグ戦：<%= @league.length%><span class="mgr-10">戦</span>
      <%= @league_win.length %><span class="mgr-10">勝</span>
      <%= @league_lose.length %><span class="mgr-10">敗</span>
      <%= @league_drow.length %><span class="mgr-10">引分</span>
      <%= @league_goal %><span class="mgr-10">得点</span>
      <%= @league_allow %>失点<br>

      カップ戦：<%= @cup.length%><span class="mgr-10">戦</span>
      <%= @cup_win.length %><span class="mgr-10">勝</span>
      <%= @cup_lose.length %><span class="mgr-10">敗</span>
      <%= @cup_drow.length %><span class="mgr-10">引分</span>
      <%= @cup_goal %><span class="mgr-10">得点</span>
      <%= @cup_allow %>失点<br>

      練習試合：<%= @practice.length%><span class="mgr-10">戦</span>
      <%= @practice_win.length %><span class="mgr-10">勝</span>
      <%= @practice_lose.length %><span class="mgr-10">敗</span>
      <%= @practice_drow.length %><span class="mgr-10">引分</span>
      <%= @practice_goal %><span class="mgr-10">得点</span>
      <%= @practice_allow %>失点
    </div>
  </div>

    <div class="players text-center">
      <%= link_to "選手一覧", affiliation_team_path %><br>
      <%= link_to "戻る", root_path, class:"btn btn-default"%>
    </div>
      
    <div class="team-posts">＜結果一覧＞</div>
    <% @posts.each do |post| %>
      <%= link_to post do %>
        <div class="posts col-md-11">
          <p class="date">試合日：<%= post.game_date.strftime('%Y/%m/%d')%></p>
          <p class="categories"><%= post.category.name%>
          <p class="opponent text-center"><%= post.team.team_name %>　vs　<%= post.opponent %></p>
          <div class="result text-right">
            <%= post.result %>
            <%= post.goal%> - <%= post.allow%>
          </div>
        </div>
      <% end %>
    <% end %>
    <span class="mgl-40"><%= paginate(@posts) %></span>
</div>
