<div class="row">
  <div class="team-info text-center">
    <h1><%= @team.team_name %></h1>
    <p style="font-size: 25px;">代表者：<%= @team.representative %></p>
    <div class="mgb-20">
      <% if team_signed_in? && current_team.id == @team.id %>
        <%= link_to "チーム編集", edit_team_registration_path, class: "btn btn-warning "%>
        <%= link_to "チーム削除", team_registration_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
      <% end %>
    </div>

    <%# 得点記録の確認 %>
    <% unless @goals_confirmation == 0 %>
      <div class="alert alert-danger" role="alert">
        チーム総得点（<%= @total_goal %>点）と所属選手総得点（<%= @player_total_goal %>点）に<%= @goals_confirmation.abs %>点、誤差があります
      </div>
    <% end %>
    
    <%# 投稿（得点更新）のチェック（完了）の有無確認 %>
    <% unless @check_confirmation == 0 %>
      <div class="alert alert-danger" role="alert">
        完了していない投稿が<%= @check_confirmation %>件、あります<br>
        <%  @check_confirmation_datails.each do |d| %>
          <div class="text-left check-details">
            <%= d.game_date.strftime('%Y/%m/%d') %>
            &emsp;vs&ensp;<%= d.opponent %><br>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="total-record">
      全<%= @total_game.length%><span class="mgr-40">戦</span>
      <%= @total_win.length %><span class="mgr-40">勝</span>
      <%= @total_lose.length %><span class="mgr-40">敗</span>
      <%= @total_drow.length %><span class="mgr-40">引分</span>
      <%= @total_goal %><span class="mgr-40">得点</span>
      <%= @total_allow %>失点<br>
    </div>

    <div class="category-record">
      リーグ戦：<%= @league.length%><span class="mgr-10">戦</span>
      <%= @league_win.length %><span class="mgr-10">勝</span>
      <%= @league_lose.length %><span class="mgr-10">敗</span>
      <%= @league_drow.length %><span class="mgr-10">引分</span>
      <%= @league_goal %><span class="mgr-10">得点</span>
      <%= @league_allow %>失点<br>

      カップ戦：<%= @cup.length%><span class="mgr-10">戦</span>
      <%= @cup_win.length %><span class="mgr-10">勝</span>
      <%= @cup_lose.length %><span class="mgr-10">敗</span>
      <%= @cup_drow.length %><span class="mgr-10">引分</span>
      <%= @cup_goal %><span class="mgr-10">得点</span>
      <%= @cup_allow %>失点<br>

      練習試合：<%= @practice.length%><span class="mgr-10">戦</span>
      <%= @practice_win.length %><span class="mgr-10">勝</span>
      <%= @practice_lose.length %><span class="mgr-10">敗</span>
      <%= @practice_drow.length %><span class="mgr-10">引分</span>
      <%= @practice_goal %><span class="mgr-10">得点</span>
      <%= @practice_allow %>失点
    </div>
  </div>

    <div class="players text-center">
      <%= link_to "選手一覧", affiliation_team_path %><br>
      <%= link_to "戻る", root_path, class:"btn btn-default"%>
    </div>
      
    <div class="team-posts">＜結果一覧＞</div>
    
    <div class="post-color-info col-md-10 col-md-offset-1">
      <div class=post-color-info__league>
      </div>
      <span class="post-color-info--category">&middot;&middot;&middot;
        <span class="post-color-info--category--league">リーグ戦</span>
      </span>
      <div class=post-color-info__cup>
      </div>
      <span class="post-color-info--category">&middot;&middot;&middot;
        <span class="post-color-info--category--cup">カップ戦</span>
      </span>
      <div class=post-color-info__practice>
      </div>
      <span class="post-color-info--category">&middot;&middot;&middot;
        <span class="post-color-info--category--practice">練習試合</span>
      </span>
    </div>

    <% @posts.each do |post| %>
      <% if post.category == "リーグ戦" %>
        <div class="posts--league col-md-10 col-md-offset-1">
      <% elsif post.category == "カップ戦" %>
        <div class="posts--cup col-md-10 col-md-offset-1">
      <% else %>
        <div class="posts--practice col-md-10 col-md-offset-1">
      <% end %>

        <p class="date">試合日：<%= post.game_date.strftime('%Y/%m/%d')%></p>

        <% if post.facility_id? && post.venue? %>
          <p class="venue">会場：<%= post.venue %></p>
        <% elsif post.facility_id? %>
          <p class="venue">会場：
            <%= link_to facility_path(post.facility) do %>
              <%= post.facility.facility_name %>
            <% end%>
          </p>
        <% elsif post.venue? %>
          <p class="venue">会場：<%= post.venue %></p>
        <% else %>
          <p class="venue">会場：不明</p>
        <% end %>

        <p class="categories"><%= post.category%> <%= link_to "詳細/動画・ハイライト", post_path(post), class:"btn btn-info"%></p>
        <p class="opponent text-center"><%= post.team.team_name %>　vs　<%= post.opponent %></p>
        <div class="result-show text-right">
          <% if post.result == "Win" %>
            <span class="win"><%= post.result %></span> <%= post.goal %> - <%= post.allow %>
          <% elsif post.result == "Lose" %>
            <span class="lose"><%= post.result %></span> <%= post.goal %> - <%= post.allow %>
          <% else%>
            <span class="drow"><%= post.result %></span> <%= post.goal %> - <%= post.allow %>
          <% end %>
        </div>
      </div>
    <% end %>
    <span class="mgl-40"><%= paginate(@posts) %></span>
</div>
