<div class="row">
  <div class="facility-edit col-md-6 col-md-offset-3"> 
    <h2 class="text-center">施設編集<%#= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "facilities/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :team_name, "施設名" %><br />
        <%= f.text_field :facility_name, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :address, "住所" %><br />
        <%= f.text_area :address, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, "電話番号" %><br />
        <%= f.telephone_field :phone_number, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        営業時間<br />
        <%= f.label :start_time, "平日" %>
        <%= f.time_select :start_time, {minute_step: 15, ampm: true}, autofocus: true %>
        <%= f.label :close_time, "-" %>
        <%= f.time_select :close_time, {minute_step: 15, ampm: true}, autofocus: true %><br />
        <%= f.label :horiday_start_time, "土日祝" %>
        <%= f.time_select :holiday_start_time, {minute_step: 15, ampm: true}, autofocus: true %>
        <%= f.label :holiday_close_time, "-" %>
        <%= f.time_select :holiday_close_time, {minute_step: 15, ampm: true}, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :access, "アクセス" %><br />
        <%= f.text_area :access, class: "form-control", autofocus: true, rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.label :courts, "コート数" %>：
        <%= f.number_field :courts, min: 0, max: 20, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :url, "URL" %><br />
        <%= f.url_field :url, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :facebook, "Facebook" %><br />
        <%= f.url_field :facebook, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :twitter, "Twitter" %><br />
        <%= f.url_field :twitter, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :instagram, "Instagram" %><br />
        <%= f.url_field :instagram, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group text-center">
      <p>施設写真</p>
      <% if resource.image? %>
        <p>現在の画像</p>
        <%= image_tag resource.image.thumb.url %>
        施設写真　➡︎　
        <%= f.label :image, for: "file-input", class: "fa fa-file-picture-o" do %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: "file-input", style: "display: none;" %>
        <% end %>
        <p><%= f.check_box :remove_image %>⬅︎画像を削除する場合はチェック</p>
      <% else %>
        <p>デフォルト</p>
        <%= image_tag "/assets/download.jpg", size: '200x200' %>
        施設写真　➡︎　
        <%= f.label :image, for: "file-input", class: "fa fa-file-picture-o" do %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: "file-input", style: "display: none;" %>
        <% end %>
      <% end %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, "新しいパスワード" %> <i>(変更しない場合は空欄のままにしてください)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> 文字以上入力してください</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "再度、パスワードを入力してください" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "現在のパスワード" %> <i>（変更するには現在のパスワードが必要です）</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions text-center mgb-20">
        <%= f.submit "更新", class: "btn btn-primary" %>
        <%= link_to "戻る", :back, class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>