<h1></h1>
<div class="container text-center">
<p>得点ランキング</p>
<% @players.each do |player|%>
<%= link_to player do%>
<%= player.team.team_name %>
<%= player.number %>
<%= player.position %>
<%= player.name%><br>
<% end %>
<% end %>
</div>
<%= link_to "TOPページ", root_path, class:"btn btn-default" %>

