<div class="row">
  <h1 class="text-center"><%= @player.team.team_name%></h1>
  <div class="col-md-6 col-md-offset-3 text-center plytop-mgb">
    <% if team_signed_in? %>
        <%= link_to "編集", edit_player_path, class:"btn btn-warning"%>
        <%= link_to "削除", player_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger" %>
    <% else %>
    <% end %>
  </div>

  <div class="player-show col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= @player.name %></h1>
      <div class="player-img text-center">
        <% if @player.image? %>
          <%#= image_tag @player.image.url %>
          <%= image_tag @player.image.thumb.url %>
        <% else %>
          <%= image_tag "/assets/download.png", size: '200x200' %>
        <% end %>
      </div>
    <table class="table" style="table-layout:fixed">
      <tbody>
        <tr>
          <td>背番号</td>
          <td><%= @player.number %></td>
        </tr>
        <tr>
          <td>ポジション</td>
          <td><%= @player.position %></td>
        </tr>
        <tr>
          <td>生年月日</td>
          <td><%= @player.birthday.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>身長</td>
          <td><%= @player.height %>cm</td>
        </tr>
        <tr>
          <td>体重</td>
          <td><%= @player.weight %>kg</td>
        </tr>
        <tr>
          <td>プレースタイル</td>
          <td><%= simple_format @player.play_style %></td>
        </tr>
          <td>ゴール数</td>
          <td><%= @player.goals %>点</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 col-md-offset-3 text-center plyunder-mgt">
    <% if team_signed_in? %>
      <%= link_to "戻る", affiliation_team_path(@player.team),class:"btn btn-default" %>
    <% else %>
      <%= link_to "戻る", affiliation_team_path(@player.team), class:"btn btn-default" %>
    <% end %>
  </div>

</div>
