<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if team_signed_in? %>
      <div class="text-center">
        <%= link_to "編集", edit_player_path, class:"btn btn-warning"%>
        <%= link_to "削除", player_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger" %>
      </div>
    <% else %>
    <% end %>

    <h1 class="text-center"><%= @player.name %></h1>
    <table class="table" style="table-layout:fixed">
      <tbody>
        <tr>
          <td>背番号</td>
          <td><%= @player.number %></td>
        </tr>
        <tr>
          <td>ポジション</td>
          <td><%= @player.position %></td>
        </tr>
        <tr>
          <td>生年月日</td>
          <td><%= @player.birthday.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>身長</td>
          <td><%= @player.height %></td>
        </tr>
        <tr>
          <td>体重</td>
          <td><%= @player.weight %></td>
        </tr>
        <tr>
          <td>プレースタイル</td>
          <td><%= simple_format @player.play_style %></td>
        </tr>
          <td>ゴール数</td>
          <td><%= @player.goals %></td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <% if team_signed_in? %>
        <%= link_to "戻る", affiliation_team_path,class:"btn btn-default" %>
      <% else %>

      <% end %>
    </div>

  </div>
</div>
