<div class="col-md-6 col-md-offset-3">
  <%= form_for post, html: { class: 'post-form'} do |f| %>

    <div class="form-group">
      <%= f.label :game_date, "試合日(年/月/日)" %><br>
      <%= f.date_select :game_date,{use_month_numbers: true, date_separator:'/'} %>
    </div>

    <div class="form-group">
      <%= f.collection_select(:facility_id, @facility, :id, :facility_name,{prompt: "会場を選択してください"}) %><br>
      ↓会場の選択肢に該当する施設がなければ入力してください
      <%= f.text_field :venue, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.collection_select(:category_id, @category, :id, :name, {prompt: "カテゴリーを選択してください"}) %>
    </div>

    <div class="form-group">
      VS <%= f.text_field :opponent, class:"form-control" %>
    </div>

    <div class="form-group">
      <p>＜結果＞</p>
      <span class="mgl-20"><%= f.radio_button :result, :'Win'%></span>
      <%= f.label :result, "Win", {value: :'Win', class:"win"} %>
      <span class="mgl-20"><%= f.radio_button :result, :'Lose'%></span>
      <%= f.label :result, "Lose", {value: :'Lose', class:"lose"} %>
      <span class="mgl-20"><%= f.radio_button :result, :'Drow'%></span>
      <%= f.label :result, "Drow", {value: :'Drow', class:"drow"} %>
    </div>

    <div class="form-group">
      <p>＜スコア＞</p>
      <span class="mgl-20">得点 <%= f.number_field :goal, min:0, max:20 %></span>
      <span class="mgl-20">ー</span>
      <span class="mgl-20"><%= f.number_field :allow, min:0, max:20 %>失点</span>
    </div>

    <div class="form-group">
      <p>＜得点者＞</p>
      <%= f.text_area :scorer, class:"form-control" %>
    </div>
    
    <div class="form-group">
      <p>＜戦評＞</p>
      <%= f.text_area :commentary, class:"form-control", rows: 8 %>
    </div>

    <div class="form-group text-center">
      <span class="video-title">動画・ハイライト投稿　➡︎　</span>
      <%= f.label :video, class:"fas fa-video" do %>
        <%= f.file_field :video, accept: 'video/*', style:"display: none;" %>
      <% end %><br>

      <% if post.video? %>
        <p>投稿中の動画</p>
        <%= video_tag post.video.url, id: :video_prev, controls: true, height: 200, weght: 200 %>
        <p><%= f.check_box :remove_video %>⬅︎動画を削除する場合はチェック</p>
        <script type="text/javascript">
          $(function() {
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $('#video_prev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
          $("#post_video").change(function(){
            readURL(this);
          });
          });
        </script>
      <% else %>
        <P>動画の投稿はありません</p>
        <%= video_tag "/assets/11199027_MotionElements_animated-play-video-led-icon-loop-modules-for-edit-with-alpha_preview.mp4", id: :video_prev, controls: true, height: 200, weght: 200 %>
        <script type="text/javascript">
          $(function() {
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $('#video_prev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
          $("#post_video").change(function(){
            readURL(this);
          });
          });
        </script>
      <% end %>
    </div>

    <div class="text-center mgb-20">
      <%= f.submit "投稿する", class: "btn btn-info" %>
      <%= link_to "戻る", root_path, class: "btn btn-default"%>
    </div>
    
  <% end %>
</div>
