<div class="posts-list">
<% posts.each do |post| %>
  <%= link_to post do %>
    <div class="posts col-md-11">
      <p class="date">試合日：<%= post.game_date.strftime('%Y/%m/%d')%></p>
      <p class="categories"><%= post.category.name%></p>
      <p class="opponent text-center"><%= post.team.team_name %>　vs　<%= post.opponent %></p>
      <div class="result text-right">
        <%= post.result %>
        <span class="mgl-20"><%= post.goal%> - <%= post.allow%></span>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<span class="mgl-40"><%= paginate(@posts)%></span>