<div class="container">
<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="posts col-md-5">
        <p class="date"><%= post.created_at.strftime('%Y/%m/%d')%></p>
        <p class="opponent">vs <%= post.opponent %></p>
        <div class="result">
          <%= post.result %>　　<%= post.goal%> - <%= post.allow%>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-primary", style:"margin:5px 0 0 145px;"%>
</div>
