<div class="row">
  <h1 class="text-center"><%= @post.team.team_name %></h1>

  <div class="text-center col-md-10 col-md-offset-1">
    <% if @post.video? %>
      <%= video_tag @post.video.url, controls: true, height: 470, weght: 300 %>
    <% else %>
      <P style="font-size: 25px;">動画・ハイライトはありません</p>
    <% end %>
  </div>

  <% if @post.category_id == 1 %>
    <div class="posts--league col-md-10 col-md-offset-1">
  <% elsif @post.category_id == 2%>
    <div class="posts--cup col-md-10 col-md-offset-1">
  <% else %>
    <div class="posts--practice col-md-10 col-md-offset-1">
  <% end %>
  
    <p class="date">試合日：<%= @post.game_date.strftime('%Y/%m/%d')%></p>

    <% if @post.facility_id? && @post.venue? %>
        <p class="venue">会場：<%= @post.venue %></p>
    <% elsif @post.facility_id? %>
      <p class="venue">会場：
        <%= link_to facility_path(@post.facility) do %>
          <%= @post.facility.facility_name %>
        <% end%>
      </p>
    <% elsif @post.venue? %>
      <p class="venue">会場：<%= @post.venue %></p>
    <% else %>
      <p class="venue">会場：不明</p>
    <% end %>

    <p class="opponent text-center">vs <%= @post.opponent %></p>
    <div class="result-show text-right">
    <%# 勝敗によっての色分け %>
      <% if @post.result == "Win" %>
        <span class="win"><%= @post.result %></span> <%= @post.goal %> - <%= @post.allow %>
      <% elsif @post.result == "Lose" %>
        <span class="lose"><%= @post.result %></span> <%= @post.goal %> - <%= @post.allow %>
      <% else%>
        <span class="drow"><%= @post.result %></span> <%= @post.goal %> - <%= @post.allow %>
      <% end %>
    </div>

    <p class="scorer">＜得点者＞<br>
    <span class="mgl-20"><%= @post.scorer %></span>
    </p>

    <% if team_signed_in? && current_team.id == @post.team_id %>
      <% if @post.goals_check.nil? %>
        <div class="alert alert-danger" role="alert">
          まだ完了しておりません
        </div>
      <% end %>
      <%= form_with model: @post do |f| %>
        <%= f.check_box :goals_check, as: :boolean %>
        <%= f.label :goals_check, "←得点者のゴール数を更新後、チェックして完了をクリックしてください" %>
        <%= f.submit "完了" %><br>
        <span class="mgl-20">（更新なしの場合は<span class="pick-up">チェックせずに完了をクリックしてください</span>)</span>
      <% end %>
      <% @players.each do |player|%>
        <%= form_with model: player, class: :goals_list do |f| %>
          <div class="post_show_ply-name">
            <%= player.number %>
            <%= player.position %>
            <%= player.name %>
          </div>
          <p>
            <%= f.number_field :goals, max: 200, min: 0 %>点
            <span class="mgl-10"><%= f.submit "更新", class: "btn btn-info" %></span>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <p class="commentary">
      ＜戦評＞
      <div class="commentary--text"><%= simple_format @post.commentary %></div>
    </p>
  </div>

  <div class="col-md-10 col-md-offset-1 text-right mgb-20">
    <% if team_signed_in? && current_team.id == @post.team_id %>
      <%= link_to "戻る", :back, class: "btn btn-default"%>
      <%= link_to "編集", edit_post_path, class: "btn btn-warning", style: "margin-left: 5px;"%>
      <%= link_to "削除", post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
    <% else %>
      <%= link_to "戻る", :back, class: "btn btn-default"%>
      <%= link_to "#{@post.team.team_name}情報", team_path(@post.team), class: "btn btn-info"%>
    <% end %>
  </div>
</div>