<div class="row">
  <h1 class="text-center"><%= @post.team.team_name %></h1>

  <div class="text-center col-md-10 col-md-offset-1">
    <% if @post.video? %>
      <%= video_tag @post.video.url, controls: true, height: 470, weght: 300 %>
    <% else %>
      <P style="font-size: 25px;">動画・ハイライトはありません</p>
    <% end %>
  </div>

  <div class="post col-md-10 col-md-offset-1" >
    <p class="date">試合日：<%= @post.game_date.strftime('%Y/%m/%d')%></p>
    <p class="opponent text-center">vs <%= @post.opponent %></p>
    <div class="result text-right">
      <%= @post.result %> <%= @post.goal %> - <%= @post.allow %>
    </div>
    <p class="scorer">＜得点者＞<br>
    <%= @post.scorer %></p>
    <p class="commentary">
      ＜戦評＞<br>
      <%= simple_format @post.commentary %>
    </p>
  </div>

  <div class="col-md-10 col-md-offset-1 text-center">
    <% if team_signed_in? && current_team.id == @post.team_id %>
      <%= link_to "編集", edit_post_path, class: "btn btn-warning", style: "margin-left: 5px;"%>
      <%= link_to "削除", post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
      <%= link_to "戻る", root_path, class: "btn btn-default"%>
      <%= link_to "マイチーム", team_path(@post.team), class: "btn btn-info"%>
    <% else %>
      <%= link_to "戻る", root_path, class: "btn btn-default"%>
      <%= link_to "#{@post.team.team_name}情報", team_path(@post.team), class: "btn btn-info"%>
    <% end %>
  </div>
</div>