<div class="container">
  <h1 class="text-center">チーム名ブログ</h1>
    <div class="posts col-md-12" >
      <p class="date"><%= @post.created_at.strftime('%Y/%m/%d')%></p>
      <p class="opponent">vs <%= @post.opponent %></p>
      <div class="result">
        <%= @post.result %> <%= @post.goal %> - <%= @post.allow %>
      </div>
      <p class="scorer">得点者：<%= @post.scorer %></p>
      <p class="commentary">
      ＜戦評＞<br>
      <%= simple_format @post.commentary %>
      </p>
    </div>
    <% if team_signed_in? %>
    <div class="text-right">
      <%= link_to "編集", edit_post_path, class: "btn btn-primary", style: "margin-left: 5px;"%>
      <%= link_to "削除", post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger"%>
      <%= link_to "戻る", root_path, class: "btn btn-default"%>
    </div>
    <% else %>
    <% end %>
    <div class="text-right">
      <%= link_to "戻る", root_path, class: "btn btn-default"%>
    </div>
</div>